<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/main.css" />
        <title>Cargos</title>
    </head>
    <body>
        <div id="cabecalho"></div>
        <div id="menu"></div>
        <main class="container-fluid p-3 text-white">
            <section class="rounded p-3 m-2">
                <form action="#" id="formCargo">
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10"><h3>Informações sobre os Cargos:</h3></div>
                        <div class="col-sm-1"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="Informe o id do cargo" id="pesquisa" maxlength="50">
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            <button type="button" id="pesquisar" class="botao btn btn-dark mt-3 form-group mb-1">Pesquisar</button>
                            <button type="button" id="adicionar" class="botao btn btn-dark mt-3 form-group mb-1" data-toggle='modal' data-target='#cargoModal'>Novo Cargo</button>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                </form>
                <div class="modal fade" id="cargoModal" tabindex="-1" role="dialog" aria-labelledby="titulo" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="titulo">Cargo:</h5>
                                <button type="button" class="close" id="fechar" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="idCargo" class="col-form-label">ID:</label>
                                        <input type="text" class="form-control" id="idCargo" maxlength="50" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label for="nomeCargo" class="col-form-label">Nome:</label>
                                        <input type="text" class="form-control" id="nomeCargo" maxlength="50">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" id="cancelar">Cancelar</button>
                                <button type="button" class="btn btn-primary" id="salvar">Salvar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="row rounded p-3 m-2">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <h2>Lista de Cargos:</h2>
                    <form id="formListaCargo">
                        <div class="table-responsive">
                            <table class="table table-hover" >
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Nome</th>
                                        <th>Operações</th>
                                    </tr>
                                </thead>
                                <tbody id="listaCargos"></tbody>
                            </table>
                        </div>
                    </form>
                </div>
                <div class="col-sm-1"></div>
            </section>
        </main>
        <div id="rodape"></div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
        <script type="text/javascript" src="js/cargo.js"></script>
    </body>
</html>