<!DOCTYPE html> 
<html lang="pt-br">
	<head>  
		<meta charset="utf-8">
	   	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	   	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  		<link rel="stylesheet" type="text/css" href="css/main.css" />
	   	<title>Nova Produção</title>
	</head>
	<body>
	   	<div id="cabecalho"></div>
	    <div id="menu"></div>
		<main class="container-fluid p-3 text-white">
			<section class="rounded p-3 m-2">
  				<h3>Em construção</h3>
  			</section>
	    </main>
	    <div id="rodape"></div>
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>