<!DOCTYPE html> 
<html lang="pt-br">
	<head>  
		<meta charset="utf-8">
	   	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	   	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  		<link rel="stylesheet" type="text/css" href="css/main.css" />
	   	<title>Tela Inicial</title>
	</head>
	<body>
	   	<div id="cabecalho"></div>
	    <div id="menu"></div>
		<main class="container-fluid p-3 text-white">
			<section class="rounded p-3 m-2">
  				<form action="#" id="formFiltro">
  					<div class="row">
  						<div class="col-sm-1"></div>
  						<div class="col-sm-10"><h3>Filtros:</h3></div>
  						<div class="col-sm-1"></div>
  					</div>
  					<div class="row">
  						<div class="col-sm-1"></div>
  						<div class="col-sm-5 mb-2">
							<label>Estado da Produção:</label>
							<br>
	      					<div class="form-check-inline">
						      	<label class="form-check-label" for="radio1">
						        	<input type="radio" class="form-check-input" id="radio1" name="optradio" value="producao">Em Produção
						      	</label>
						    </div>
						    <div class="form-check-inline">
						      	<label class="form-check-label" for="radio2">
						        	<input type="radio" class="form-check-input" id="radio2" name="optradio" value="finalizada">Finalizada
						      	</label>
						    </div>
  						</div>
  						<div class="col-sm-5">
							<label for="filtroPorProduto">Por Produto:</label>
						    <select class="form-control mb-2 mr-sm-2" id="filtroPorProduto" name="filtroProdutos"></select>
  						</div>
  						<div class="col-sm-1"></div>
  					</div>
  					<div class="row">
  						<div class="col-sm-1"></div>
  						<div class="col-sm-10">
  							<button type="button" class="btn btn-dark mt-3 form-group mb-1">Pesquisar</button>
  						</div>
  						<div class="col-sm-1"></div>
  					</div>
				</form>
      		</section>
      		<section class="row rounded p-3 m-2">
	   			<div class="col-sm-1"></div>
				<div class="col-sm-10">
      				<h2>Lista de Produções:</h2>
      				<form id="formListaProducao">
      					<div class="table-responsive">
						    <table class="table table-hover" >
						     	<thead class="thead-dark">
							        <tr>
								        <th>Código</th>
								        <th>Produto</th>
								        <th>Quantidade</th>
								        <th>Estado</th>
								        <th>Custo Total</th>
								        <th>Tempo Total</th>
							        </tr>
						      	</thead>
						      	<tbody id="listaProducao"></tbody>
						    </table>
						</div>
      				</form>
      			</div>
      			<div class="col-sm-1"></div>
      		</section>
	    </main>
	    <div id="rodape"></div>
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  		<script type="text/javascript" src="js/main.js"></script>
  		<script type="text/javascript" src="js/index.js"></script>
	</body>
</html>